@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,slnt,wdth,wght,GRAD,ROND@6..144,-10..0,25..151,1..1000,0..100,0..100&display=swap');

* {
  font-family: 'Google Sans Flex', sans-serif;
  font-variation-settings: 'ROND' 100;
  letter-spacing: 1px;
  text-align: center;
}

html {
  background-color: #1e1e2e;
  height: 100%;
}

body {
  font-size: 22px;
  color: #cdd6f4;
}

h1 {
  font-size: 48px;
}

ul {
  padding: 0px;
}

ul.foot > li {
  display: inline-block;
}

::selection {
  color: black;
  background: #a6e3a1;
}

a {
  color: #f9e2af;
  text-decoration: none;
  transition:
    color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
}

a:hover {
  color: #a6e3a1;
}

a,
h4 {
  font-weight: 600;
}

img.logo {
  height: 60px;
  width: 60px;
}

#riitag {
  max-width: 30%;
}

/* Responsive layout */
@media only screen and (max-width: 1100px) {
  h1 {
    font-size: 42px;
  }

  body {
    font-size: 20px;
  }

  img.logo {
    height: 50px;
    width: 50px;
  }

  #riitag {
    max-width: 60%;
  }
}

@media only screen and (max-width: 800px) {
  #riitag {
    max-width: 100%;
  }
}

@media (prefers-color-scheme: light) {
  html {
    background-color: #eff1f5;
  }

  body {
    color: #4c4f69;
  }

  a {
    color: #df8e1d;
  }

  a:hover {
    color: #40a02b;
  }
}
