@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
  overflow: hidden;
  animation: rgb 2s alternate-reverse infinite;
  background: url('../assets/breakcore/cute_girl.avif');
  background-size: contain;
}

p {
  font-family: 'VT323', sans-serif;
  color: white;
  font-size: 40px;
}

#container {
  width: 100%;
  height: 100vh;
  perspective: 1000px;
}

div.spin {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg);
  animation: speen 1.5s linear infinite;
}

.rgb {
  animation: rgb 5s infinite;
}

@keyframes speen {
  0% {
    transform: translate(-50%, -50%) rotateY(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotateY(360deg);
  }
}

@keyframes rgb {
  0% {
    color: red;
  }

  10% {
    color: yellow;
  }

  20% {
    color: orange;
  }

  30% {
    color: pink;
  }

  40% {
    color: black;
  }

  50% {
    color: white;
  }

  60% {
    color: black;
  }

  70% {
    color: pink;
  }

  80% {
    color: orange;
  }

  90% {
    color: yellow;
  }

  100% {
    color: red;
  }
}
