@import 'base.css';

.deviceTable,
.titleWithImg {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.deviceTable {
  padding-left: 60px;
  padding-right: 60px;
}

.deviceImg {
  padding-left: 15px;
  padding-right: 15px;
}

h4 {
  margin-top: auto;
  margin-bottom: auto;
}

.deviceItem {
  width: 250px;
}

.smallList {
  font-size: 18px;
}

@media only screen and (max-width: 1100px) {
  .deviceTable,
  .titleWithImg {
    display: inline-block;
  }

  .deviceImg {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }
}
